<p id="notice"><%= notice %></p>

<%= render "form" %>



<p>
  <strong>Date of sighting:</strong>
  <%= @sighting.date %>
</p>
<p>
  <strong>Latitude at sighting:</strong>
  <%= @sighting.latitude %>
</p>
<p>
  <strong>Longitude at sighting:</strong>
  <%= @sighting.longitude %>
</p>

<p>
  <strong>Region of sighting:</strong>
  <%= @sighting.region %>
</p>

just making sure this is my show page for a sighting
<br><br>




<%= link_to 'Back', root_path, class: "button" %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
