<p id="notice"><%= notice %></p>

<div id="animal_content">

  <h1 class ="name">
    <%= @animal.name %>:
    was submitted <%= time_ago_in_words(@animal.created_at) %> ago
    <div align="right">
      <button type="button"><%= link_to "Edit #{@animal.name}", edit_animal_path(@animal)%></button> |
      <button type="button"><%= link_to 'Back to Home', root_path %></button>
    </div>
  </h1>

  <!-- <p class="date"></p> -->

  <div id="sighting" >
    <div ="div1">
      <h2><%= @animal.sightings.count %> sightings for this animal |
      <%= link_to "Add a new sighting", new_animal_sighting_path( @animal) %></h2>
    </div>

    <%= render @animal.sightings.order("created_at DESC") %>

  </div>.

</div>
